@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

:root {
    --color_fuente :#fff;
    --color_fondo: black;
}

[tema = "blanco"] {
    --color_fuente :black;
    --color_fondo: #fff;
}

h1, h2{
    font-family: 'Redressed', cursive;
    font-size: 40px;
}

body{
    background-color: var(--color_fondo);
    color: var(--color_fuente);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container{
    border: 0px solid red;
    display: flex;
    justify-content: space-around;
    width: 90%;
}


#switch{
    width: 10%;
    border: 0px solid red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 90%;
    height: 1px;
    background-color: var(--color_fuente);
}

main{
    border: 0px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 90%;
    margin-top: 60px;
}

img{
    height: 400px;
    width: 80%;
}

.texto{
    text-align: center;
    font-family: verdana;
    font-size: 16px;
    line-height: 24px;
}